.container {
    width: 90%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

a.volver-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}


@media (max-width: 768px) {
    table, th, td {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    th, td {
        display: block;
        width: 100%;
        text-align: left;
    }

    tr {
        margin-bottom: 10px;
        display: block;
    }

    table {
        border: none;
    }
}